# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Exclude Assets and external image folders
assets/
Assets/
**/assets/
**/Assets/
nix '/
nix/
**/nix/

# Dependency directories
node_modules/
jspdf/

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
